.hover-game-app-modes {
  font-size: 18px;
  min-height: 42px;
  padding: 0 12px;
  text-transform: uppercase;
  border: 1px solid #515cc6;
  border-radius: 6px;
  outline: none;

  &:focus-visible {
    border: 2px solid #515cc6;
  }
}